{% extends "layout.html" %}

{% block body %}
{{ super() }}

<p>Short URL is <a href="{{ short_url }}" target="_blank">{{ short_url.replace('http://', '') }}</a></p>

<ul>
{% for result in results %}
  <li>
    <p>Device type: {{ result['link'].criteria|sanitize_device }}</p>
    <p>Target: {{ result['link'].target_url }}</p>
    <p>Clicks: {{ result.click_total }}</p>
  </li>
{% endfor %}
</ul>

<h3>Configure redirect URLs</h3>

<form action='/shorten' method="POST">
  <label>Choose a device type</label>
  <select name="device_type">
    <option value="desktop">Desktop</option>
    <option value="tablet">Tablet</option>
    <option value="mobile">Mobile</option>
  </select>

  <label>Specify target URL</label>
  <input type="hidden" name="key" value="{{results[0]['link'].key }}">
  <input type="text" name="url">

  <button>Save rule</button>
</form>

{% endblock %}
